.git
.github
.env
.env.backup
.env.production
node_modules
vendor
tests
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
*.log
scratch/
.codex
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store

